.*
*.7z
*.bzip
*.deb
*.dmg
*.egg
*.gem
*.gz
*.iso
*.jar
*.lock
*.lzma
*.phar
*.rar
*.rpm
*.swo
*.swp
*.tar
*.tgz
*.xpi
*.xz
*.zip
/pirum
/nbproject
/build/coverage
/vendor
/phpunit.xml
/composer.lock
